### common
NODE_ENV=development
JWT_ACCESS_TOKEN_SECRET=your_secret_key
JWT_ACCESS_TOKEN_EXPIRES_IN=900
JWT_REFRESH_TOKEN_SECRET=your_refresh_secret_key
JWT_REFRESH_TOKEN_EXPIRES_IN=86400

### AUTH
AUTH_PORT=3001
AUTH_MONGODB_URI=mongodb://mongo1:27017,mongo2:27018,mongo3:27019/auth?replicaSet=rs0
AUTH_API_SERVER_ORIGIN=http://localhost

### Gateway
GATEWAY_PORT=3000
AUTH_SERVICE_URL=http://auth_service:3001
EVENT_SERVICE_URL=http://event_service:3002

### Event
EVENT_PORT=3002
EVENT_MONGODB_URI=mongodb://mongo1:27017,mongo2:27018,mongo3:27019/event?replicaSet=rs0